table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.noBorder {
    border-style: none;
    background-color: #fff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

select {
    width: 50%;
}